// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

body {
  overflow: hidden !important;
}
#root{
  overflow: auto;
  width: 100dvw;
  height: 100dvh;
}
//scrollbar
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0b5ed7 transparent;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #0b5ed7;
}

//animations photo
#myphoto {
  animation: fall 2.5s linear 1, bounce 2.5s linear infinite;
}
@keyframes bounce {
  0% {transform: scale(1); opacity: 0.8}
  50% {transform: scale(1.05); opacity: 1}
  100% {transform: scale(1); opacity: 0.8}
}
//animations desctription
#mydescription {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fall;
}

@keyframes fall {
  0% {transform: translateX(-100%); opacity: 0}
  50% {transform: translateX(100%); opacity: 0.5}
  100% {transform: translateX(0%); opacity: 1}
}

.scale-up-center {
	-webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.scale-left {
  box-shadow: 0 0 20px 6px darkblue;
  animation-name: scale-left;
  animation-iteration-count: initial;
  animation-fill-mode: both;
  animation-duration: 2.5s;
}
@keyframes scale-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}

.hoverbuttonblue:hover {
  background: radial-gradient(rgba(0, 102, 255, 0.9), transparent 70%);
}

$animation-duration: 10s;

#bglineargradient {
  animation-name: bglineargradient;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

@keyframes bglineargradient {
  $max-angle: 360;

  @for $i from 0 through $max-angle {
    #{percentage(calc($i / $max-angle))} {
      background: linear-gradient(calc(#{$i+45} * 1deg), black, #005, black, #005);
    }
  }
}